* {
  font-family: "Roboto", sans-serif, "Arial";
}

*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body {
  padding: 0px;
  margin: 0px;
}
canvas {
  display: block;
  padding: 0px;
  margin: 0px;
}

#container {
  display: grid;
}

#gameContainer,
#startPageContainer {
  grid-area: 1 / 1;
}

#gameContainer {
  filter: brightness(30%);
  position: fixed;
}

#startPageContainer {
  height: 100vh;
  /* for safari because 100vh doesn't work right */
  /* min-height: -webkit-fill-available; */
  z-index: 10;
  /* background-color: red; */

  display: grid;
  grid-template-areas:
    "title"
    "footer";
  grid-template-rows: 1fr 64px;
  gap: 10px;
}


#titleItem input, button{
  font-size: 1em;
}

#titleItem {
  grid-area: title;
}

#inputItem {
  grid-area: name-input;
}

#titleItem h1 {
  font-size: 3em;
  color: white;
  padding-top: 10vh;
}

#joinItem {
  grid-area: join-button;
}

#aboutFooterItem {
  grid-area: footer;
}

#btnView{
  position: absolute;
  top: 5%;
  right: 5%;
  width: 4vw;
  height: 4vw;
  background: none;
  border-radius: 30%;
  border: thin solid black;
  outline: 0;
}

#btnView img{
  height: 100%;
  width: 100%;
}

#txtPlayerCount {
pointer-events: none;
  position: absolute;
  top: 3%;
  width: 100%;
  border-radius: 30%;
  text-align:center;
  font-weight: bold;
  font-size: 1.5em;
  color: #fff;
  text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
     1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

#txtWaitingCount {
pointer-events: none;
  position: absolute;
  top: 3%;
  width: 100%;
  border-radius: 30%;
  text-align:center;
  font-weight: bold;
  font-size: 1.5em;
  color: #fff;
  text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
     1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

#joyCtrl{
  visibility:hidden;
}

.joyDiv{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  align-items: center;
  justify-items: center;
  will-change: contents;
}

.joyBase{
  opacity: 50%;
  height: 150px;
  width: 150px;
  position: relative;
  grid-column: 1;
  grid-row: 1;
  z-index: 1;
  align-items: center;
  justify-items: center;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.joyBtn{
  height: 80px;
  width: 80px;
  opacity: 80%;
  position: relative;
  grid-column: 1;
  grid-row: 1;
  z-index: 2;
  align-items: center;
  justify-items: center;


  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
}

#joyMove{
  position: absolute;
  bottom:10%;
  left:8%;
}

#joyAngle{
  position: absolute;
  bottom:10%;
  right:8%;
}

@media only screen and (max-width: 900px) {

  #btnView{
    width: 40px;
    height: 40px;
  }

}

@media only screen and (max-width: 600px) {

  .joyBase{
    width: 30vw;
    height: 30vw;
  }

  .joyBtn{
    width: 14vw;
    height: 14vw;
  }

}

@media only screen and (max-height: 600px) {

  .joyBase{
    width: 30vh;
    height: 30vh;
  }

  .joyBtn{
    width: 14vh;
    height: 14vh;
  }

}
